langchain
langgraph
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-pinecone 
langgraph-checkpoint

pinecone
faiss-cpu

pypdf
unstructured
python-docx

sqlalchemy
psycopg2-binary
pymysql

pandas
numpy
openpyxl

python-dotenv

pydantic

fastapi
uvicorn

streamlit

requests
tabulate
tqdm
rich

pytest